################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Kutuphane/.vs/Kutuphane/config
/Kutuphane/.vs/Kutuphane/DesignTimeBuild
/Kutuphane/bin/Debug/netcoreapp3.1
/Kutuphane/obj/Debug/netcoreapp3.1/staticwebassets
/Kutuphane/obj/Debug/netcoreapp3.1/apphost.exe
/Kutuphane/obj/Debug/netcoreapp3.1/Kutuphane.csproj.CopyComplete
/Kutuphane/obj/Debug/netcoreapp3.1/Kutuphane.csproj.FileListAbsolute.txt
/Kutuphane/obj/Debug/netcoreapp3.1/Kutuphane.dll
/Kutuphane/obj/Debug/netcoreapp3.1/Kutuphane.genruntimeconfig.cache
/Kutuphane/obj/Debug/netcoreapp3.1/Kutuphane.MvcApplicationPartsAssemblyInfo.cache
/Kutuphane/obj/Debug/netcoreapp3.1/Kutuphane.pdb
/Kutuphane/obj/Debug/netcoreapp3.1/Kutuphane.RazorTargetAssemblyInfo.cache
/Kutuphane/obj/Debug/netcoreapp3.1/Kutuphane.csproj.CoreCompileInputs.cache
